/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
a { color: inherit; text-decoration: none; }
.bg-foreground { background-color: #111827; }
.text-background { color: #ffffff; }

